#comuniLogo{
    margin-top: 20%;
}

#botonExplorar{
    margin-top: 50px;
}

#Background{
    height: 100%;
    width: 100%;
    background-image: url("../../../assets/ComuniFondo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}