<a [routerLink]="[ '/presentacion']" class="botonInvis"></a>
<div class="BackgroundComuni">
    <div class="container row MarginTop50">
        <img id='comuniLogo' class='col offset-s3 s6' src='../../assets/comuni_icon.svg'> 
    </div>
    <div class="container row">
        <form  [formGroup]="registrarseForm" (ngSubmit)="submit(registrarseForm.value)" class="col offset-s3 s6">
            <div class="card #e8f5e9 green lighten-2">
                <div class="card-content white-text">
                    <span class="card-title">Registro</span>
                    
                    <div class="row">
                        <div class="input-field col s6">
                            <input formControlName="Nombre" type="text" class="validate">
                            <label for="Nombre">Nombre</label>
                        </div>
                        <div class="input-field col s6">
                            <input formControlName="Apellido" type="text" class="validate">
                            <label for="Apellido">Apellido</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input formControlName="Email" type="email" class="validate">
                            <label for="Email">Email</label>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="input-field col s12">
                            <input formControlName="Contrasena" type="password" class="validate">
                            <label for="Contrasena">Contraseña</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input formControlName="Contrasena2" type="password" class="validate">
                            <label for="Contrasena2">Repetir contraseña</label>
                        </div>
                    </div>

                    <div class="MarginBottom20"></div>
                    
                    <div class="right-align">
                        <button [disabled]="registrarseForm.invalid" type="submit" class="btn comuni-color">Registrarme</button>
                    </div>
                </div>
                <div class="card-action center-align">
                    <span class='white-text'>¿Ya tienes cuenta? </span>
                    <a class='indigo-text' [routerLink]="[ '/login']">Ingresar</a>
                </div>
            </div>
        </form>
    </div>
</div>
