<div class="BackgroundComuni">
    <div class="container row full-height">
        <form [formGroup]="noticiaForm" (ngSubmit)="submit()" class="col col offset-s3 s6" style="margin-top: 30px;">
            <div class="card #e8f5e9 green lighten-2">
                <div class="card-content white-text">
                    <ng-container *ngIf="crear; else elseTemplate1">
                        <span class="card-title">Crear Post</span>
                    </ng-container>
                    <ng-template #elseTemplate1>
                        <span class="card-title">Editar Post</span>
                    </ng-template>
                    
                    
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="Titulo" formControlName="Titulo" type="text" class="validate">
                            <label for="Titulo">Titulo del post </label>
                            <small>El titulo tiene un maximo de 30 caracteres.</small>
                            
                            <div *ngIf="noticiaForm.get('Titulo').invalid && (noticiaForm.get('Titulo').dirty || noticiaForm.get('Titulo').touched)" class="dangerText">
                                <div *ngIf="noticiaForm.get('Titulo').errors.required">
                                    {{mensajeValidacion.Texto.required}}
                                </div>
                                <div *ngIf="noticiaForm.get('Titulo').errors.minlength">
                                    {{mensajeValidacion.Texto.minlength}}
                                </div>
                                <div *ngIf="noticiaForm.get('Titulo').errors.minlength">
                                    {{mensajeValidacion.Texto.maxlength}}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="Descripcion" formControlName="Descripcion" type="text" class="validate">
                            <label for="Descripcion">Color de la letra</label>
                            
                            <div *ngIf="noticiaForm.get('Descripcion').invalid && (noticiaForm.get('Descripcion').dirty || noticiaForm.get('Descripcion').touched)" class="dangerText">
                                <div *ngIf="noticiaForm.get('Descripcion').errors.required">
                                    {{mensajeValidacion.Texto.required}}
                                </div>
                                <div *ngIf="noticiaForm.get('Descripcion').errors.minlength">
                                    {{mensajeValidacion.Texto.minlength}}
                                </div>
                                <div *ngIf="noticiaForm.get('Descripcion').errors.maxlength">
                                    {{mensajeValidacion.Texto.maxlength}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="MarginBottom20"></div>

                    <div class="MarginBottom20"></div>

                    <div class="right-align">
                        <ng-container *ngIf="crear; else elseTemplate">
                            <button type="submit" class="btn comuni-color">Crear</button>
                        </ng-container>
                        <ng-template #elseTemplate>
                            <button type="submit" class="btn comuni-color">Editar</button>
                        </ng-template>
                                                
                    </div>

                </div>
            </div>
        </form>
    
        <ng-container *ngIf="cargando;">
            <div class="loader preloader-wrapper big active">
                <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </ng-container>    

    </div>
</div>
