<div id='containerTop' class="container row">
    <div class="col s3"></div>
    <form action="" class="col s6">
        <div class="card #e8f5e9 green lighten-2">
            <div class="card-content white-text">
                <span class="card-title">Inicio</span>
                
                <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                    </div>
                
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>

                <div class="right-align">
                <button class="btn comuni-color">Ingresar</button>
                </div>
            </div>
            <div class="card-action">
                <span class='white-text'>¿No tienes cuenta?</span>
                <a class='white-text' href="#">Registrarme</a>
            </div>
        </div>
    </form>
</div>