<div class="BackgroundComuni">
    <div class="container row full-height">
        <form [formGroup]="postForm" (ngSubmit)="submit()" class="col col offset-s3 s6 margin-top-m">
            <div class="card #e8f5e9 green lighten-2">
                <div class="card-content white-text">
                    <ng-container *ngIf="crear; else elseTemplate1">
                        <span class="card-title">Crear Post</span>
                    </ng-container>
                    <ng-template #elseTemplate1>
                        <span class="card-title">Editar Post</span>
                    </ng-template>
                    
                    
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="Titulo" formControlName="Titulo" type="text" class="validate">
                            <label for="Titulo">Titulo del post </label>
                            <small>El titulo tiene un maximo de 30 caracteres.</small>
                            
                            <div *ngIf="postForm.get('Titulo').invalid && (postForm.get('Titulo').dirty || postForm.get('Titulo').touched)" class="dangerText">
                                <div *ngIf="postForm.get('Titulo').errors.required">
                                    {{mensajeValidacion.Texto.required}}
                                </div>
                                <div *ngIf="postForm.get('Titulo').errors.minlength">
                                    {{mensajeValidacion.Texto.minlength}}
                                </div>
                                <div *ngIf="postForm.get('Titulo').errors.minlength">
                                    {{mensajeValidacion.Texto.maxlength}}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="Descripcion" formControlName="Descripcion" type="text" class="validate">
                            <label for="Descripcion">Color de la letra</label>
                            
                            <div *ngIf="postForm.get('Descripcion').invalid && (postForm.get('Descripcion').dirty || postForm.get('Descripcion').touched)" class="dangerText">
                                <div *ngIf="postForm.get('Descripcion').errors.required">
                                    {{mensajeValidacion.Texto.required}}
                                </div>
                                <div *ngIf="postForm.get('Descripcion').errors.minlength">
                                    {{mensajeValidacion.Texto.minlength}}
                                </div>
                                <div *ngIf="postForm.get('Descripcion').errors.maxlength">
                                    {{mensajeValidacion.Texto.maxlength}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <ng-container *ngIf="tags.length == 0; else elseTemplate1">
                                <p>Este espacio no tiene etiquetas para elegir.</p>
                            </ng-container>
                            <ng-template #elseTemplate1>
                                <p> Elija una etiqueta para su post. (Opcional)</p>
                                <ng-container *ngIf="tagElegido;">
                                    <p>Eligio la etiqueta "{{post.Object.Tag.Object.Nombre}}"</p>
                                </ng-container>
                                <div *ngFor="let tagx of tags">
                                    <div (click)="selectTag(tagx)" style="cursor:pointer;" class="Tag" [style.background-color]="'#' + tagx.Object.ColorBackground" 
                                        [style.color]="'#' + tagx.Object.ColorLetra">
                                        <p>{{tagx.Object.Nombre}}</p>
                                    </div>
                                </div>
                            </ng-template> 

                        </div>
                    </div>

                    <div class="MarginBottom20"></div>

                    <div class="MarginBottom20"></div>

                    <div class="right-align">
                        <ng-container *ngIf="crear; else elseTemplate">
                            <button type="submit" class="btn comuni-color">Crear</button>
                        </ng-container>
                        <ng-template #elseTemplate>
                            <button type="submit" class="btn comuni-color">Editar</button>
                        </ng-template>
                                                
                    </div>

                </div>
            </div>
        </form>
    
        <ng-container *ngIf="cargando;">
            <div class="loader preloader-wrapper big active">
                <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </ng-container>    

    </div>
</div>
