/* You can add global styles to this file, and also import other style files */
@import './materialize-src/sass/materialize.scss';
@import './styles/margins.scss';

.margin-top-m{
  margin-top: 35px;
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.hrColorStyle{
  height: 1px;
  border: 0;
  background-color: white;
}

.Tag{
  margin-top:20px;
  line-height: 0;
  border-radius: 5px;
  padding:2px 7px;
  width: fit-content;
  font-weight:normal;
}

.loader {
  position: absolute;
  top :0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 100;
  overflow: hidden;
  }

.parentCenters{
  justify-content: center;
  display: flex;
}

.justify{
  justify-content: space-between;
  display:flex;
}

.full-height{
  height:calc(100vh - 64px);
}

.full-width{
  width:100%;
}

.inline{
  display: inline-flex;
}

.circle-small-img{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.btn-smaller{
  font-size: 10px;
  line-height: unset;
  height: unset;
}

.botonInvis{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 25px;
  height: 25px;
  z-index: 10;
}

.BackgroundComuni{
  height: 100%;
  width: 100%;
  background-image: url("./assets/ComuniFondo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

    .input-field input,
    .input-field label{
        color: #e1ebd0;
    }


    .input-field input[type]:not([readonly]),
    .input-field input[type]:focus:not([readonly]),
    .input-field textarea:not([readonly]),
    .input-field textarea:focus:not([readonly]) {
      border-bottom: 1px solid #e1ebd0;
      box-shadow: 0 1px 0 0 #e1ebd0 ;
    }
    
    .input-field input[type]:focus:not([readonly])+label,
    .input-field textarea:focus:not([readonly])+label {
      color: #e1ebd0;
    }

    .input-field input[type].invalid,
    .input-field input[type].invalid:focus,
    .input-field textarea.invalid,
    .input-field textarea.invalid:focus {
      border-bottom: 1px solid #e57373;
      box-shadow: 0 1px 0 0 #e57373;
    }
    
    .input-field input[type].invalid:focus+label,
    .input-field input[type].invalid~.helper-text::after,
    .input-field input[type].invalid:focus~.helper-text::after, 
    .input-field textarea.invalid:focus+label,
    .input-field textarea.invalid~.helper-text::after,
    .input-field textarea.invalid:focus~.helper-text::after,
    .dangerText {
      color: #e57373;
    }

    .dangerText {
      color: #bf360c;
    }
     

    .input-field input[type].valid,
    .input-field input[type].valid:focus,
    .input-field textarea.valid,
    .input-field textarea.valid:focus {
      border-bottom: 1px solid #e1ebd0;
      box-shadow: 0 1px 0 0 #e1ebd0;
    }
    
    .input-field input[type].valid:focus+label,
    .input-field input[type].valid~.helper-text::after,
    .input-field input[type].valid:focus~.helper-text::after,
    .input-field textarea.valid:focus+label,
    .input-field textarea.valid~.helper-text::after,
    .input-field textarea.valid:focus~.helper-text::after {
      color: #e1ebd0;
    }

    .row,
    .row .input-field{
      margin-bottom: 0px;
    }